
name: Scanner 
on: [push]

env:
  CBRANCH: ''
  SMSG: ''
  SRES: ''

jobs:
  build:
    name: push scanner
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v2
   
    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # install the python version needed

    - name: install python packages
      run: |
          python -m pip install --upgrade pip
          pip install requests

    - name: scan git branck
      run: python scan.py

    - name: slack notifier 
      uses: rtCamp/action-slack-notify@v2
    
      env:
        SLACK_TITLE: '${SMSG}'
        SLACK_WEBHOOK: ${{ secrets.PWHK }}
        SLACK_MESSAGE: ${{ env.SMSG }}
