
name: Scanner 
on: [push]

env:
  STOK: ${{secrets.STOK_REPO}}

jobs:
  build:
    name: push scanner
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v2
   
    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # install the python version needed

    - name: install python packages
      run: |
          python -m pip install --upgrade pip
          pip install requests
          pip install slack-notifications

    - name: scan git branck
      run: python scan.py

    - name: debug msg
      run: echo "$SMSG"

    - name: slack notifier 
      uses: rtCamp/action-slack-notify@v2
    
      env:
        SLACK_TITLE: "$SMSG"
        SLACK_WEBHOOK: ${{ secrets.PWHK }}
        SLACK_MESSAGE: ${{ env.SMSG }}

    - name: Send custom JSON data to Slack workflow
      id: slack
  uses: slackapi/slack-github-action@v1.24.0
  with:
    payload-file-path: "./payload-slack-content.json"
  env:
    SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
